<div class="conteiner-fluid">
    <div class="carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner banner" role="listbox">
                <div class="item active">
                    <%= image_tag "slider.jpg" %>
                    <div class="carousel-caption">
                        <h1 id="letra">Diseño de espacios comerciales</h1>
                        <h2 id="letra">y sus extensiones</h2>
                    </div>
                </div>

                <div class="item">
                    <%= image_tag "slider.jpg" %>
                    <div class="carousel-caption">
                        <h1>Diseño de espacios comerciales</h1>
                        <h2>y sus extensiones</h2>
                    </div>
                </div>

                <div class="item">
                    <%= image_tag "slider.jpg" %>
                    <div class="carousel-caption">
                        <h1>Diseño de espacios comerciales</h1>
                        <h2>y sus extensiones</h2>
                    </div>
                </div>

                <div class="item">
                    <%= image_tag "slider.jpg" %>
                    <div class="carousel-caption">
                        <h1>Diseño de espacios comerciales</h1>
                        <h2>y sus extensiones</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container contenedor-iconos">
        <div  class="col-md-1 col-sm-1 ">
        </div>
        <div  class="col-md-10 col-sm-10 col-xs-12">

               <div class="row text-center">
            <div class="col-sm-4 col-md-4 icon-logo linea">
                <%= image_tag "logo-espacio-retail-azul.png", alt: "fondo" ,  :crop => :fill%>
                <br/><br/><br class="none-movil" />
            </div>
            <div class="col-sm-4 col-md-4 linea icon-tex ">
                <%= image_tag "icono taza.png", alt: "fondo" , :width => 70, :height => 70, :crop => :fill%>
                <p>Trabajamos desde la premisa de espacio rentables,diseños flexibles</p>
                <br/>
            </div>
            <div class="col-sm-4 col-md-4 icon-tex ">
                <%= image_tag "icono edificio.png", alt: "fondo" , :width => 70, :height => 70, :crop => :fill%>
                <p>Diagnostico de tiendas:Capacidad de bodega,exhibicion</p>
                <br/>
            </div>

        </div>



        </div>

    </div>



    <div class="contenedor">
        <div class="caption">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <%= image_tag "Merchandising Visual.jpg", alt: "fondo" , :width => 250, :height => 250, :class=> "visual",:crop => :fill%>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12 text-just">
                <h4>Merchanding Visual
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu nunc, eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis. Pellentesque sagittis metus a est mattis pellentesque quis quis diam. Curabitur
                    feugiat, leo id pharetra ornare, metus ipsum vulputate orci, eu tristique tellus dui eu nulla. Aliquam sed tellus iaculis, mollis eros sit amet, bibendum lorem. Fusce sit amet auctor ante. Praesent interdum accumsan scelerisque.
                </p>

                <div class="boton-linea">
                    <a href="#"><span>AMPLIAR INFORMACIÓN</span>  <%= image_tag "flecha.svg", alt: "flecha"%></a>
                </div>
            </div>

        </div>
    </div>
</div>


    <div class="row base">

        <div class="col-md-6 col-sm-6 col-xs-12 imagen padding-none fondo">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 padding-none fondo2">
        <div class="boton-linea2">
    <a href="#"><%= image_tag "flecha.svg", alt: "flecha"%></a>
    </div>
        <p id="letra1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu nunc, eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis. Pellentesque sagittis metus a est mattis pellentesque quis quis diam. Curabitur
            feugiat, leo id pharetra ornare, metus ipsum vulputate orci, eu tristique tellus dui eu nulla. Aliquam sed tellus iaculis, mollis eros sit amet, bibendum lorem. Fusce sit amet auctor ante. Praesent interdum accumsan scelerisque.
        </p>
</div>
 </div>




<div class="base-imagen">
<div class="contenedor">
    <div class="caption">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
            <%= image_tag "prueba3.jpg", alt: "fondo" , :width => 250, :height => 250, :class=> "visual",  :crop => :fill%>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12 text-just">
                <h4>Merchanding Visual
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu nunc, eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis. Pellentesque sagittis metus a est mattis pellentesque quis quis diam. Curabitur
                    feugiat, leo id pharetra ornare, metus ipsum vulputate orci, eu tristique tellus dui eu nulla. Aliquam sed tellus iaculis, mollis eros sit amet, bibendum lorem. Fusce sit amet auctor ante. Praesent interdum accumsan scelerisque.

                    <div class="boton-linea">
                    <a href="#"><span>AMPLIAR INFORMACIÓN</span>  <%= image_tag "flecha.svg", alt: "flecha"%></a>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
</div>


<div clas="carousel">
    <div id="video" class="carousel">
        <!-- Indicators -->
        <div clas="embed-container">
            <div class="caption">
                <div class="row">
                    <h3>Video Espacio Retail</h3>
                    <div class="text-video">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit., eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis<br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.. Sed elementum magna in augue aliquet mattis</p>

                    </div>

                </div>

                <iframe class="iframe" width="560" height="315" src="//www.youtube.com/embed/ac7KhViaVqc" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
