<div class="conteiner-fluid">
    <div class="carousel"></div>
</div>

<div class="row base">

    <div class="col-md-6 col-sm-6 col-xs-12 padding-none fondo3">

        <p id="letra1">
            Dise単o de nuevos formato de marca
          </p>

            <ul>
                <li>Boutique</li>
                <li>Oulet</li>
                <li>Multimarca</li>
                <li>Franquicia</li>
            </ul>
            <p id="letra1">
                Premisas:Tiendas rentables
              </p>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 padding-none ">
            <div class="boton-linea2">
                <a href="#"><%= image_tag "flecha.svg", alt: "flecha"%></a>
            </div>
            <div class="carousel2">
                <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner banner" role="listbox">
                        <div class="item active">
                            <%= image_tag "slider.jpg" %>

                        </div>

                        <div class="item">
                            <%= image_tag "slider.jpg" %>
                            <div class="carousel-caption">
                                <h1>Dise単o de espacios comerciales</h1>
                                <h2>y sus extensiones</h2>
                            </div>
                        </div>

                        <div class="item">
                            <%= image_tag "slider.jpg" %>
                            <div class="carousel-caption">
                                <h1>Dise単o de espacios comerciales</h1>
                                <h2>y sus extensiones</h2>
                            </div>
                        </div>

                        <div class="item">
                            <%= image_tag "slider.jpg" %>
                            <div class="carousel-caption">
                                <h1>Dise単o de espacios comerciales</h1>
                                <h2>y sus extensiones</h2>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>

    <div class="base-imagen">
        <div class="contenedor">
            <div class="caption">
                <div class="row">

                    <div class="col-md-10 col-sm-10 col-xs-12 text-just">
                        <h4>Producto
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu nunc, eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis. Pellentesque sagittis metus a est mattis pellentesque quis quis diam. Curabitur
                            feugiat, leo id pharetra ornare, metus ipsum vulputate orci, eu tristique tellus dui eu nulla. Aliquam sed tellus iaculis, mollis eros sit amet, bibendum lorem. Fusce sit amet auctor ante. Praesent interdum accumsan scelerisque. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Maecenas arcu nunc, eleifend non mollis et, dignissim ut velit. Sed elementum magna in augue aliquet mattis. Pellentesque sagittis metus a est mattis pellentesque quis quis diam. Curabitur feugiat, leo id pharetra
                            ornare, metus ipsum vulputate orci, eu tristique tellus dui eu nulla. Aliquam sed tellus iaculis, mollis eros sit amet, bibendum lorem. Fusce sit amet auctor ante. Praesent interdum accumsan scelerisque.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="page-header"></div>

            <div class="row grid-divider">
                <div class="col-sm-5">
                    <div class="col-padding">
                        <div class="boton-linea">
                            <a href="#">
                                <span>Merchandising visual</span>
                                <%= image_tag "flecha.svg", alt: "flecha"%></a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="col-padding">
                        <div class="boton-linea">
                            <a href="#">
                                <span>Merchandising GestioN</span>
                                <%= image_tag "flecha.svg", alt: "flecha"%></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
