
<div class="col-md-12 padding-none footer">
<div class="row">
    <br>
    <div class="col-md-4 col-sm-4 col-xs-12 linea2">
    <center>
        <a href="#"><%= image_tag "logo armatodo.png"%></a>
    </center>
</div>
<div class="col-md-7 col-sm-8 col-xs-12">
<div class="row">

<div class="col-md-4 col-sm-4 col-xs-12">
    <center>
        <a href="#">
            <%= image_tag "logo-reporte-amarilla.png"%></a>
    </center>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <center>
        <a href="#">
            <%= image_tag "logo-conexion-amarilla.png"%></a>
    </center>
</div>

<div class="col-md-4 col-sm-4 col-xs-12">
    <center>
        <a href="#">
            <%= image_tag "logo-radio-amarilla.png"%></a>
    </center>
</div>

</div>



</div>

</div>
</div>


<div id="footer">

<div class="container">
    <div class="row">

        <br>
        <div class="col-md-5 col-sm-5 col-xs-12 ">
            <center>

                <br>

                <p class="footertext">Todos los derechos reservados Armatodo Retail Group
                    <br>
                </center>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 linea">
                <center>

                    <div class="text-right">
                        <a href="http://www.facebook.com"><%= image_tag "logo facebook azul.png", class:"facebook2"%></a>
                        <a href="http://www.instagram.com"><%= image_tag "logo instagram azul.png", class:"instagram" %></a>
                        <a href="http://www.twitter.com"><%= image_tag "logo twitter azul.png",  class:"twitter"  %></a>
                        <a href="http://www.youtube.com"><%= image_tag "logo youtube azul.png",  class:"youtube" %></a>

                    </div>
                </center>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <left>

                    <br>
                    <p class="footertext"><strong>Contactanos: </strong>
                    <h3 class="footertext">01 8000 8595</h3></p>

                    </left>
                </div>
    </div>

        </div>
    </div>
